# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore audio and transcription files
output.wav
transcription.txt
emotion_analysis.txt
output_transcription.txt
history.txt
text_analysis.txt
output_transcription_confidence.txt
batch_transcription.txt
annotated_transcription_7fcec539.txt
output_transcription_Tamil.txt

# Ignore virtual environment directories (if applicable)
venv/
env/

# Ignore IDE configuration files (if you're using an IDE like PyCharm or VS Code)
.idea/
.vscode/

# Environment variables
.env

# Ignore system-specific files (e.g., MacOS, Windows)
.DS_Store
Thumbs.db
small.pt